<html>
    <body>
    <form class="form-signin" action="/signup"  method="POST">
        <h2 class="form-signin-heading">Please Sign Up</h2>
        <div>
            <input type="first_name" name="first_name" class="form-control" placeholder="First Name"autofocus />
            <input type="last_name" name="last_name" class="form-control" placeholder="Last Name" required />
            <input type="email" name="email" class="form-control" placeholder="Email" required />
            <input type="password" name="password" class="form-control" placeholder="Password" required />
            <input type="age" name="age" class="form-control" placeholder="Age"autofocus />
            <input type="gender" name="gender" class="form-control" placeholder="Gender" required />
            <input type="occupation" name="occupation" class="form-control" placeholder="Occupation" required />
            <input type="zipcode" name="zipcode" class="form-control" placeholder="Zipcode" required />
            <button type="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
        </div>
    </form>
    </body>
</html>